*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
.container {
    width: 100%;
    background-image: url(sports.webp);
    height: 100vh;
    margin: 0 auto;
}
.logo{
    width: 40%;
}
.logo h1{
    font-size: 3.6rem;
    font-family: 'moon 2.0', sans-serif;
    margin-left: 1em;
    color: rgb(158, 144, 122);
}